<br>
<br>
<div class="cont">
    <form class="form sign-in" action="/user/signin" method="POST">
        <h2>Welcome</h2>
        <label>
            <span>Email</span>
            <input type="email" name="email" />
        </label>
        <label>
            <span>Password</span>
            <input type="password" name="password" />
        </label>
        <p class="forgot-pass">Forgot password?</p>
        <div class="button-div">
            <button type="submit" class="submit">Sign In</button>
        </div>
        <% if (locals.error) { %>
            <div class="alert alert-danger" role="alert">
                <%= locals.error %>
            </div>
            <% } %>
    </form>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">

                <h3>Don't have an account? Please Sign up!<h3>
            </div>
            <div class="img__text m--in">

                <h3>If you already has an account, just sign in.<h3>
            </div>
            <div class="img__btn">
                <span class="m--up">Sign Up</span>
                <span class="m--in">Sign In</span>
            </div>
        </div>
        <form class="form sign-up" enctype="multipart/form-data" action="/user/signup" method="POST">
            <h2>Create your Account</h2>
            <label>
                <span>Profile img</span>
                <input type="file" name="profileImg" />
            </label>
            <label>
                <span>Name</span>
                <input type="text" name="fullName" />
            </label>
            <label>
                <span>Email</span>
                <input type="email" name="email" />
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="password" />
            </label>
            <div class="button-div">
                <button type="submit" class="submit">Sign Up</button>
            </div>

        </form>
    </div>
</div>